
.section__maindiv{
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;    

    
}

.achievments{
    margin: 10px;
    border-top-right-radius: 50px; 
    border-bottom-left-radius: 50px;
    width: 300px;
    box-shadow: #EEFDF7 10px 10px 10px 10px;
}

.achive__dis h3{
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
    
}
.achive__img img{
   width: 40px;
   padding-top:40px
}
.first__one{
    background: rgb(13,184,223);
    background: linear-gradient(209deg, rgba(13,184,223,1) 0%, rgba(31,222,179,1) 100%); 
    color: white;  
}

.achivement__sec{
    margin-top:100px;
    margin-bottom: 100px
}